body{
    font-family: Helvetica, sans-serif;
}

.navbar{
    text-align: center;
    background-color: aquamarine;
}
.navitem{
    font-size:larger;
    text-decoration: none;
}

.navitem:active{
    color: white;
    background-color: black;
}